@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0 0 200px;
  background-color: yellow;
}

h1{
  text-align: center;
}

ul{
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.button-style{
  border: 1px solid #91C9FF;
  cursor: pointer;
  background: transparent;
  margin:1%;
  padding:2%;
}
